</main>

<footer id="" class="py-4 bg-dark fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; Sherif-ly Shortening URLs since 2019.</small>
  </div>
</footer>
</body>

</html>