<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sherif-ly A Tool to shorten a long link.</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-3">Sherif-ly</h1>
    <p class="lead">A Tool to shorten a long link.</p>
  </div>

  <body>