<% include ./partials/header.ejs %>

<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close"></button>
  <strongAn>Oh snap!</strong> An error has occured <a href="/" class="alert-link">try
      submitting again.</a>
</div>

<% include ./partials/footer.ejs %>